<div class="browser__container--main">

    <div class="browser__container">

        <div class="arrow" type="prev"></div>

        <div class="browser__grid">

            <div class="browser__item">
                <a href="/north-russia-page/html/vologda.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/vologda.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Вологда
                </h4>

                <p>
                    Здесь вы найдете множество древних храмов и монастырей, а также уютные парки и зеленые
                    скверы
                    для прогулок.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/murmansk.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/murmansk.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Мурманск
                </h4>

                <p>
                    Этот город привлекает туристов возможностью познакомиться с культурой и бытом коренных
                    народов
                    Севера.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/saint-petersburg.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/saint_petersburg.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Санкт-Петербург
                </h4>

                <p>
                    Один из самых красивых городов мира, который славится своими достопримечательностями,
                    музеями,
                    театрами и парками.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/pskov.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/pskov.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Псков
                </h4>

                <p>
                    Этот город славится своими живописными пейзажами, реками и озерами.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/kizhy.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/kizhy.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Кижи
                </h4>

                <p>
                    Объект всемирного наследия ЮНЕСКО в России. Древнерусская и современная живопись,
                    графика,
                    книги, этнографические находки.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/kargopol.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/kargopol.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Каргополь
                </h4>

                <p>
                    Богатые экспозиции глиняной игрушки, каргопольской вышивки, золотного шитья, народного
                    костюма,
                    церковной скульптуры, иконописи.
                </p>

            </div>

            <div class="browser__item">
                <a href="/north-russia-page/html/petrozavodsk.html" class="browser__link">
                    <img src="/north-russia-page/assets/images/petrozavodsk.jpg" alt="" class="browser__image">
                </a>

                <h4>
                    Петрозаводск
                </h4>

                <p>
                    Удивительное сочетание живописной природы, богатого культурного наследия, разнообразной кухни и
                    увлекательных развлечений.
                </p>

            </div>


        </div>

        <div class="arrow--reverse" type="next"></div>

    </div>

</div>
