<footer class="footer">
    <div class="footer__container">

        <section class="footer__contact">
            <a href="/north-russia-page/"><img src="/north-russia-page/assets/images/logo.svg" alt="" class="footer__logo"></a> 

            <h3>Если у вас есть какие-либо вопросы, позвольте нам помочь вам!</h3>
            <p>Если у вас есть какие-либо вопросы или вы хотите забронировать тур у нас, пожалуйста, не стесняйтесь
                обращаться к нам.</p>

            <ul>
                <li>Телефон: <a href="tel:+250788123456">+250 788 123 456</a></li>
                <li>Email: <a href="mailto:eee@vvv.com">eee@vvv.com</a></li>
                <li>Адрес: Санкт-Петербург, Россия</li>
            </ul>

        </section>

        <aside class="footer__visit">
            <h4>Почему стоит посетить север России?</h4>
            <p>Уникальная природа: Север России славится своими великолепными пейзажами, в том числе тундрой, лесами и
                арктическими островами. Вы можете увидеть полярные сияния, которые являются одним из самых впечатляющих
                природных явлений.</p>
            <p>Культура и история: Посетив север России, вы сможете познакомиться с культурой и историей коренных
                народов, таких как саамы, ненцы и другие. Они имеют свой уникальный язык, обычаи и традиции, которые
                можно изучить и проникнуться.</p>
            <p>Исторические места и архитектура: Север России имеет множество исторических мест и памятников, связанных
                с освоением и изучением этого региона. Например, вы можете посетить Соловецкий монастырь, город
                Мурманск, Малые Корелы и другие места.</p>
            <p>Культура еды: Кухня севера России предлагает множество блюд из рыбы и мяса, которые могут быть необычными
                и вкусными для путешественников.</p>
        </aside>

    </div>
</footer>
