<header class="header">
    <div class="header__logo">
        <a href="/north-russia-page/"><img src="/north-russia-page/assets/images/logo.svg" alt=""></a>
    </div>
    
    <nav class="header__nav">
        <ul class="header__nav--list">

            <ul class="header__nav--list">

                <li class="header__nav--item">
                    <a href="/north-russia-page/" class="header__nav--link">
                        Главная
                    </a>
                </li>

                <li class="header__nav--item">
                    <a href="/north-russia-page/html/browse.html" class="header__nav--link">
                        Просмотр
                    </a>
                </li>

                <li class="header__nav--item">
                    <a href="/north-russia-page/html/map.html" class="header__nav--link">
                        Карта
                    </a>
                </li>

            </ul>

            <li class="header__nav--separator">
            </li>

            <ul class="header__nav--list">
                <li class="header__nav--item-small">
                    <a href="/north-russia-page/">
                        <button class="header__nav--button">
                            <svg class="header__nav--icon">
                                <use href="/north-russia-page/assets/images/sprite_atlas.svg#telegram"></use>
                            </svg>
                        </button>
                    </a>
                </li>

                <li class="header__nav--item-small">
                    <a href="/north-russia-page/">
                        <button class="header__nav--button">
                            <svg class="header__nav--icon">
                                <use href="/north-russia-page/assets/images/sprite_atlas.svg#vk"></use>
                            </svg>
                        </button>
                    </a>
                </li>

                <li class="header__nav--item-small">
                    <a href="/north-russia-page/">
                        <button class="header__nav--button">
                            <svg class="header__nav--icon">
                                <use href="/north-russia-page/assets/images/sprite_atlas.svg#instagram"></use>
                            </svg>
                        </button>
                    </a>
                </li>

                <li class="header__nav--item-small">
                    <a href="/north-russia-page/">
                        <button class="header__nav--button">
                            <svg class="header__nav--icon">
                                <use href="/north-russia-page/assets/images/sprite_atlas.svg#ok"></use>
                            </svg>
                        </button>
                    </a>
                </li>

                <li class="header__nav--item-small">
                    <a href="/north-russia-page/">
                        <button class="header__nav--button">
                            <svg class="header__nav--icon">
                                <use href="/north-russia-page/assets/images/sprite_atlas.svg#youtube"></use>
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>

        </ul>
    </nav>
</header>
