@import url(https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css);

.browser {
    flex-direction: column;
    display: flex;

    padding-left: 5%;
    padding-right: 5%;
}

.browser__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: fit-content;
    /* toggle in animation */
    /* overflow: hidden; */
}

.browser__container--main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}


.browser h3 {
    color: #FFF;
    font-family: Jost;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 137px;
    margin-bottom: 137px;
}

.browser__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-row-gap: 130px;
    column-gap: 70px;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: grid-right ease 5s 4; */
}

@keyframes grid-left {
    from {
        right: 0;
    }

    to {
        right: 100vw;
    }
}

@keyframes grid-right {
    from {
        left: 0;
    }

    to {
        left: 100vw;
    }
}

.browser__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    place-self: center;
    object-fit: cover;
}

.browser__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    position: relative;
}

.browser__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser__item:hover {
    background: #50748f;
    transform: scale(1.05);
    transition: transform 0.1s ease-in;
}

.browser__item:not(:hover) {
    transition: all 0.1s ease-out;
}

.browser__item h4 {
    color: #FFF;
    font-family: Jost;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 14px;
}

.browser__item h4:hover {
    cursor: auto;
}


.browser__item p {
    color: #FFF;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.browser__item p:hover {
    cursor: auto;
}


.browser__more {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.browser__more h5 {
    color: #FFF;
    font-family: Jost;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.browser__search {
    border-radius: 50%;
}
