.scroll__button {
    display: none;
    position: fixed;

    bottom: 50px;
    right: 80px;

    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /north-russia-page/* background-color: red; */
    background: transparent;

    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;


}

.scroll__button:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

.scroll__button:not(:hover) {
    transition: all 0.1s ease-out;
}
