@import url(/north-russia-page/css/pages/article.css);


.main {
    background: url(/north-russia-page/assets/images/kargopol_main.jpg);
    background-size: cover;
    object-fit: cover;

    height: 100vh;
}
