@import url(/north-russia-page/css/normalize.css);
@import url(/north-russia-page/css/fonts.css);
@import url(/north-russia-page/css/base.css);
@import url(/north-russia-page/css/components/header.css);
@import url(/north-russia-page/css/components/footer.css);
@import url(/north-russia-page/css/components/search_form.css);
@import url(/north-russia-page/css/components/browser.css);
@import url(/north-russia-page/css/components/arrow.css);

.map {
    width: 50vw;
    height: 80vh;

    align-self: center;
    justify-self: center;

    padding-top: 100px;
    padding-bottom: 100px;
}


.main {
    background: url(/north-russia-page/assets/images/map_main.jfif);
    background-size: cover;
    object-fit: cover;
}
